# Data Cleaning Step

In [1]:
import pandas as pd
import os

In [2]:
## Pulling data from csvs and storing as dataframes and Cleaning our dataframes

pharm_csv = os.path.join(os.getcwd(), "Data", "pharmacists.csv")
pharm_df = pd.read_csv(pharm_csv)
##Changing column names
pharm_df = pharm_df.rename(columns = {"First Tooltip" : "Pharmicists Per 10,000"}).drop(columns =["Indicator"])



med_doctors_csv = os.path.join(os.getcwd(), "Data", "medicalDoctors.csv")
med_doctors_df = pd.read_csv(med_doctors_csv)
##Changing column names
med_doctors_df = med_doctors_df.rename(columns = {"First Tooltip" : "Medical Doctors Per 10,000"}).drop(columns =["Indicator"])



life_expect_csv = os.path.join(os.getcwd(), "Data", "Life expectancy.csv")
life_expect_df = pd.read_csv(life_expect_csv)
##Changing column names
life_expect_df = life_expect_df.rename(columns = {"Entity" : "Location",
                                                 "Year" : "Period"
                                                 })


hand_wash_csv = os.path.join(os.getcwd(), "Data", "basicHandWashing.csv")
hand_wash_df = pd.read_csv(hand_wash_csv)
##Changing column names
hand_wash_df = hand_wash_df.rename(columns = {"First Tooltip" : "Population with basic handwashing facilities at home (%)"}).drop(columns =["Indicator"])
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Urban")==False]
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Rural")==False]
hand_wash_df = hand_wash_df.drop(columns = {"Dim1"})



drink_water_csv = os.path.join(os.getcwd(), "Data", "basicDrinkingWaterServices.csv")
drink_water_df = pd.read_csv(drink_water_csv)
##Changing column names
drink_water_df = drink_water_df.rename(columns = {"First Tooltip" : "Population using at least basic drinking-water services (%)"}).drop(columns =["Indicator"])



sanitize_csv= os.path.join(os.getcwd(), "Data", "atLeastBasicSanitizationServices.csv")
sanitize_df = pd.read_csv(sanitize_csv)
##Changing column names
sanitize_df = sanitize_df.rename(columns = {"First Tooltip" : "Population using at least basic sanitization services (%)"}).drop(columns =["Indicator"])
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Urban")==False]
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Rural")==False]
sanitize_df = sanitize_df.drop(columns = {"Dim1"})

In [3]:
sanitize_df

,Location,Period,Population using at least basic sanitization services (%)
0,Afghanistan,2017,43.42
3,Afghanistan,2016,42.05
6,Afghanistan,2015,40.71
9,Afghanistan,2014,39.37
12,Afghanistan,2013,38.06
...,...,...,...
9353,Zimbabwe,2004,45.37
9356,Zimbabwe,2003,46.11
9359,Zimbabwe,2002,46.15
9362,Zimbabwe,2001,46.05
9365,Zimbabwe,2000,45.93

### Merge tha Data

In [4]:
merge_df1 = pd.merge(pharm_df, med_doctors_df, on = ["Location", "Period"], how = "outer")
merge_df1

         Location  Period  Pharmicists Per 10,000  Medical Doctors Per 10,000
0     Afghanistan    2016                    0.47                        2.78
1     Afghanistan    2015                    0.50                        2.85
2     Afghanistan    2014                    0.51                        2.98
3     Afghanistan    2012                    0.27                        2.41
4     Afghanistan    2011                    0.28                        2.52
...           ...     ...                     ...                         ...
2620     Zimbabwe    2011                     NaN                        0.82
2621     Zimbabwe    2008                     NaN                        0.60
2622     Zimbabwe    2007                     NaN                        0.54
2623     Zimbabwe    2005                     NaN                        1.26
2624     Zimbabwe    2000                     NaN                        1.26

[2625 rows x 4 columns]

In [5]:
merge_df2 = pd.merge(merge_df1, life_expect_df, on = ["Location", "Period"], how = "outer")
merge_df2

,Location,Period,"Pharmicists Per 10,000","Medical Doctors Per 10,000",Life expectancy
0,Afghanistan,2016,0.47,2.78,NaN
1,Afghanistan,2015,0.50,2.85,NaN
2,Afghanistan,2014,0.51,2.98,NaN
3,Afghanistan,2012,0.27,2.41,NaN
4,Afghanistan,2011,0.28,2.52,NaN
...,...,...,...,...,...
5637,United States,2012,NaN,NaN,78.940002
5638,United States,2013,NaN,NaN,78.959999
5639,United States,2014,NaN,NaN,78.940002
5640,United States,2015,NaN,NaN,78.870003
5641,United States,2016,NaN,NaN,78.860001

In [6]:
merge_df3 = pd.merge(merge_df2, hand_wash_df, on = ["Location", "Period"], how = "outer")
merge_df4 = pd.merge(merge_df3, drink_water_df, on = ["Location", "Period"], how = "outer")
final_merge_df = pd.merge(merge_df4, sanitize_df, on = ["Location", "Period"], how = "outer")
final_merge_df

,Location,Period,"Pharmicists Per 10,000","Medical Doctors Per 10,000",Life expectancy,Population with basic handwashing facilities at home (%),Population using at least basic drinking-water services (%),Population using at least basic sanitization services (%)
0,Afghanistan,2016,0.47,2.78,NaN,37.67,54.84,42.05
1,Afghanistan,2015,0.50,2.85,NaN,37.59,52.39,40.71
2,Afghanistan,2014,0.51,2.98,NaN,37.52,49.96,39.37
3,Afghanistan,2012,0.27,2.41,NaN,37.37,45.19,36.75
4,Afghanistan,2011,0.28,2.52,NaN,37.30,42.84,35.46
...,...,...,...,...,...,...,...,...
7079,Zimbabwe,2003,NaN,NaN,NaN,NaN,58.59,46.11
7080,Zimbabwe,2002,NaN,NaN,NaN,NaN,59.23,46.15
7081,Zimbabwe,2001,NaN,NaN,NaN,NaN,59.88,46.05
7082,Republic of Korea,2001,NaN,NaN,NaN,NaN,NaN,100.00
7083,Republic of Korea,2000,NaN,NaN,NaN,NaN,NaN,100.00